<h1>Listing mesas</h1>

<table>
  <tr>
    <th>C칩digo Mesa</th>
    <th>C칩digo Usu치rio</th>
    <th>Nome Usu치rio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mesas.each do |mesa| %>
  <tr>
    <td><%= mesa.c_mesa %></td>
    <td><%= mesa.c_user %></td>
    <td><%= mesa.n_user %></td>

    

  </tr>
<% end %>
</table>

<br />


